<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %}</title>

    <!-- Normalize.css fixes lot of differences between browsers default styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>

    <!-- codecool series bootstrap-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css" integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap/site.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap/background.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap/utils.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/card_container.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/question.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap/modal.css') }}">


    <!-- java script -->
    <script defer src="https://randojs.com/1.0.0.js"></script>
    {% block scripts %}{% endblock %}
</head>
<body>
<div id="body-wrapper">
    <h1 id="title" class="title text-center">{% block title %}{% endblock %}</h1>
    <nav class="">
        <ul class="main-menu">
            <li>
                <a class="button" href="/index">Home</a>
            </li>
            <li>
                <a class="button" href="/index">Workbook</a>
            </li>
            <li>
                <a class="button" href="/test">Test</a>
            </li>
        </ul>
    </nav>

    <section>
        <article class="card" id="content-header">
            <!-- flash messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <aside class="alert alert-{{ category }}" role="alert">
                            <p>{{ message }}</p>
                        </aside>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <!-- search bar, dropdown menu etc -->
            {% block content_header %}{% endblock %}
        </article>

        <!-- main content, search results etc -->
        <article class="card {{ content_main_class }}" id="content-main">
            {% block content_main %}{% endblock %}
        </article>
    </section>
    <footer>
        MMNM's pet project
    </footer>
</div>
<div class="background">
    <div class="dark-blue-layer"></div>
    <div class="light-blue-layer"></div>
</div>

</body>
</html>
