{% extends "_layout.html" %}

{% block page_title %}
    Workbook
{% endblock %}

{% block scripts %}
    <script defer type="module" src="{{ url_for('static', filename='scripts/data_handler.js') }}"></script>
    <script defer type="module" src="{{ url_for('static', filename='scripts/search_filter.js') }}"></script>
{% endblock %}

{% block title %}
    Workbook
{% endblock %}

{% block content_header %}
    <h3>Search by</h3>
    <h4 class="card__title">Modules:</h4>
    <div class="card-container">
        {% for module in modules %}
            <div class="card__content" data-module="{{ module.id }}">
                {{ module.name }}
            </div>
        {% endfor %}
    </div>

    <h4 class="card__title">Categories:</h4>
    <div class="card-container">
        {% for category in categories %}
            <div class="card__content" data-category="{{ category.id }}">
                {{ category.name }}
            </div>
        {% endfor %}
    </div>

{% endblock %}


{% block content_main %}
<h3>Questions:</h3>
    {% for question in all_questions %}

        <div data-module="{{ question.module_id }}" data-category="{{ question.category_id }}">
            <a href="/question/{{ question.id }}"><p>{{ question.title }}</p></a>
        </div>

    {% endfor %}

{% endblock %}

