{% extends "_layout.html" %}

{% block page_title %}
    Questions
{% endblock %}

{% block scripts %}
    <script defer type="module" src="{{ url_for('static', filename='scripts/data_handler.js') }}"></script>
    <script defer type="module" src="{{ url_for('static', filename='scripts/search_filter.js') }}"></script>
    <script defer type="module" src="{{ url_for('static', filename='scripts/title_search.js') }}"></script>
{% endblock %}

{% block title %}
    Workbook
{% endblock %}

{% block content_header %}
    <h2>Filter Question</h2>

    <form id="title-search-form" method="post">
        <label for="title-search-input">
            <h3>Search in Questions:</h3>
        </label>
        <input type="text" name="title-search-input" id="title-search-input">
    </form>

    <h3 class="card__title">Modules:</h3>
    <div class="card-container">
        {% for module in modules %}
            <div class="module card__content" data-module="{{ module.id }}">
                {{ module.name }}
            </div>
        {% endfor %}
    </div>

    <h3 class="card__title">Categories:</h3>
    <div class="card-container">
        {% for category in categories %}
            <div class="category card__content" data-category="{{ category.id }}">
                {{ category.name }}
            </div>
        {% endfor %}
    </div>
{% endblock %}


{% block content_main %}
<h2>Questions:</h2>

    <ol id="result-list">
        {% for question in all_questions %}
            <li data-module="{{ question.module_id }}" data-category="{{ question.category_id }}">
                <a href="/question/{{ question.id }}">{{ question.title }}</a>
            </li>
        {% endfor %}
    </ol>
{% endblock %}

