{% extends "_layout.html" %}

{% block page_title %}
    Edit Question
{% endblock %}

{% block scripts %}
    <script defer type="module" src="{{ url_for('static', filename='scripts/data_handler.js') }}"></script>
    <script defer type="module" src="{{ url_for('static', filename='scripts/question.js') }}"></script>
    <script defer type="module" src="{{ url_for('static', filename='scripts//data_handler.js') }}"></script>
{% endblock %}

{% block title %}
    Edit Question
{% endblock %}

{% block content_header %}
    {% for data in question %}
        <div class="question text-center" id="question" data-id="{{ data.id }}" data-category="{{ data.category_id }}" data-module="{{ data.module_id }}">
            <h2>{{ data.title }}</h2>
            <small><b>Module:</b> {{ data.module }}</small>
            <small><b>Category:</b> {{ data.category }}</small>
        </div>
    {% endfor %}
{% endblock %}


{% block content_main %}

    <h2>Answer:</h2>
    {% for data in question %}
        {% if data.answer %}

            <div id="answer-is" data-answer_id="{{ data.answer_id }}">{{ data.answer }}</div>
            <button class="button" type="button" id="edit-button" onclick="editAnswer()">Edit</button>

        {% else %}

            <div id="new-answer" class="new-answer">
                <div id="answer-no"><p>404- not found, you haven't answered it yet :/</p></div>
                <button class="button" type="button" id="add-btn" onclick="newAnswer()"> New Answer</button>
            </div>

        {% endif %}

        <div class="container" id="container"></div>

    {% endfor %}

{% endblock %}

