{% extends "_layout.html" %}

{% block page_title %}
    Test
{% endblock %}

{% block scripts %}
    <script defer type="module" src="{{ url_for('static', filename='scripts/data_handler.js') }}"></script>
    <script defer type="module" src="{{ url_for('static', filename='scripts/test.js') }}"></script>
    <script defer type="module" src="{{ url_for('static', filename='scripts//data_handler.js') }}"></script>
{% endblock %}

{% block title %}
    Test
{% endblock %}

{% block content_header %}

    <h2>Hello Codecooler!</h2>
    <p>Choose one from the modules and get a random question!</p>

    <form class="form-element" id="form-modul-select" method="post">
        <label for="test-select-module"><h3>Module:</h3></label>
        <select name="test-select-module" id="test-select-module">
            {% for module in modules %}
                <option value="{{ module.id }}">{{ module.name }}</option>
            {% endfor %}
        </select>
        <button type="submit" id="select-module-btn">Random!</button>
    </form>

{% endblock %}

{% set content_main_class = 'hide' %}
{% block content_main %}
    <div  id="random-question"></div>

    <div id ="modal-answer" class="card modal--answer hide">
        <button class="modal__close-button">
            <i class="fa fa-window-close"></i>
        </button>

        <div id="modal__body" class="display-block"></div>
    </div>
    <div id="modal--overlay" class="modal--overlay hide">
    </div>

{% endblock %}

